@font-face {
    font-family: 'Depot';
    src: url('Depot-Medium.woff2') format('woff2'),
        url('Depot-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

