@font-face {
    font-family: 'Suprema';
    src: url('Suprema-SemiBoldItalic.woff2') format('woff2'),
        url('Suprema-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suprema';
    src: url('Suprema-Thin.woff2') format('woff2'),
        url('Suprema-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suprema';
    src: url('Suprema-Regular.woff2') format('woff2'),
        url('Suprema-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suprema';
    src: url('Suprema-Light.woff2') format('woff2'),
        url('Suprema-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

